body{
    background-image: url(https://lh5.ggpht.com/X6S-3G1irwe649hOPWe2GYqcl4eSxK69r6Y1CGoC9oXk45MRwTTywpz0vdVoQS0_vVVX=h900);
    background-size: cover;
    
}
h1{
    color: #006600;
    font-family: Broadway, Helvetica, sans-serif;
    border-style: solid;
    width: fit-content;
    padding: 10px;
    background-color:rgba(255, 255, 255, .7);
    position: relative;
    left: 495px;
    top: 880px;
    border-color: #006600;
    animation-name: h1;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 5;
   }

h1:hover, .BIO:hover, .Hobby:hover, .Goal:hover, .Contacting:hover{
    background-color:rgba(255, 255, 255, 1);
    transition: .4s ease-in-out;
}
h2{
    font-family: Broadway, Helvetica, sans-serif;
    }
.BIO{
    border-style: solid;
    width: fit-content;
    padding: 10px;
    background-color:rgba(255, 255, 255, .7);
    position: relative;
    top: 737px;
    left: -4px;
    margin-top: 0;
    border-color: #2e2eb8;
}
.Hobby{
    border-style: solid;
    width: fit-content;
    padding: 10px;
    background-color:rgba(255, 255, 255, .7);
    position: relative;
    left: -4px;
    top: -46px;
    border-color: #e60000;
}
.Goal{
    border-style: solid;
    width: fit-content;
    padding: 10px;
    background-color:rgba(255, 255, 255, .7);
    position: relative;
    top: -30px;
    left: -4px;
    border-color: #e65c00;
}
.Contacting{
    border-style: solid;
    width: fit-content;
    padding: 10px;
    background-color:rgba(255, 255, 255, .7);
    position: relative;
    top: 4px;
    left: 847px;
    border-color: #b30086;
    
}
.Biocolor{
    color: #2e2eb8;
}
.Hobcolor{
    color: #e60000;
}
.Go{
    color: #e65c00;
}
.Contactcolor{
    color: #b30086;
}
@keyframes h1{
    0% { transform: transformY(-100px);}
    100% { transform: transformY(0px);}
}
#h1 {transition-timing-function: linear;}
.Fimg{
   max-width: 500px;
   max-height: 500px;
   position: relative;
   left: 875px;
   bottom: 600px;
}
img{
   border-radius: 5px; 
   border-color: yellow;
   border-style: solid;
}
